{% extends 'base.html' %}

{% block content %}
<h2>Create a new event</h2>
<form method="POST" name="create_event" class="container">
    <div class="row my-2">
        <div class="col-md-2 text-end">
            <label for="date">Date:</label>
        </div>
        <div class="col">
            <input type="date" id="date" name="date" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2 text-nowrap text-end">
            <label for="name">Event Name:</label>
        </div>
        <div class="col">
            <input type="text" id="name" name="name" size="64" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2 text-end">
            <label for="host">Host:</label>
        </div>
        <div class="col">
            <input type="text" id="host" name="host" size="64" />
        </div>
    </div>
    <div class="my-2 text-center">
        <input type="submit" value="Save" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-secondary" />
    </div>
</form>
{% endblock %}