{% extends 'base.html' %}

{% block content %}
    <div class="rvt-ts-lg rvt-text-center">
    {% if event is defined: %}
        {% set event_id = event['id'] %}
        {% set event_name = event['name'] %}
        {% set event_host = event['host'] %}
        {% set event_date, event_time = event['time'].split(' ') %}
        Edit event (ID {{event['id']}})
    {% else: %}
        {% set event_id = 0 %}
        {% set event_name = '' %}
        {% set event_host = '' %}
        {% set event_date = '' %}
        {% set event_time = '' %}
        Create a new event!
    {% endif %}
    </div>
    <form method="post">
        <div class="rvt-container rvt-container--center">
            <div class="rvt-grid rvt-text-bold">
                <div class="rvt-grid__item-4-sm-up">
                    Time
                </div>
                <div class="rvt-grid__item">
                    Event
                </div>
                <div class="rvt-grid__item">
                    Host
                </div>
            </div>
            <div class="rvt-grid">
                <input name="event_id" type="hidden" value="{{event_id}}">
                <div class="rvt-grid__item-4-sm-up rvt-text-nobr">
                    <input name="event_date" type="date" value="{{event_date}}">
                    <input name="event_time" type="time" value="{{event_time}}">
                </div>
                <div class="rvt-grid__item">
                    <input name="event_name" type="text" value="{{event_name}}">
                </div>
                <div class="rvt-grid__item">
                    <input name="event_host" type="text" value="{{event_host}}">
                </div>
            </div>
            <div class="rvt-grid">
                <div class="rv-grid__item rvt-container--center">
                    <button class="rvt-button rvt-button--full-width" type="submit">Submit!</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}