{% extends 'base.html' %}

{% block content %}
    {% if event_id is not defined %}
        Error! Missing event ID!
    {% else %}
        <div class="rvt-ts-lg rvt-text-center">
        {% if attendee is defined %}
            {% set attendee_id = attendee['id'] %}
            {% set attendee_name = attendee['name'] %}
            {% set attendee_email = attendee['email'] %}
            {% set attendee_comment = attendee['comment'] %}
            Edit attendee (ID {{attendee['id']}})
        {% else %}
            {% set attendee_id = 0 %}
            {% set attendee_name = '' %}
            {% set attendee_email = '' %}
            {% set attendee_comment = '' %}
            Add a new attendee!
        {% endif %}
        </div>
        <form method="post">
            <div class="rvt-container rvt-container--center">
                <div class="rvt-grid rvt-text-bold">
                    <div class="rvt-grid__item-4-sm-up">
                        Name
                    </div>
                    <div class="rvt-grid__item">
                        Email
                    </div>
                    <div class="rvt-grid__item">
                        Comment
                    </div>
                </div>
                <div class="rvt-grid">
                    <input name="attendee_id" type="hidden" value="{{attendee_id}}">
                    <input name="event_id" type="hidden" value="{{event_id}}">
                    <div class="rvt-grid__item-4-sm-up rvt-text-nobr">
                        <input name="attendee_name" type="text" value="{{attendee_name}}">
                    </div>
                    <div class="rvt-grid__item">
                        <input name="attendee_email" type="email" value="{{attendee_email}}">
                    </div>
                    <div class="rvt-grid__item">
                        <input name="attendee_comment" type="text" value="{{attendee_comment}}">
                    </div>
                </div>
                <div class="rvt-grid">
                    <div class="rv-grid__item rvt-container--center">
                        <button class="rvt-button" type="submit">Submit</button>
                        <a href="{{url_for('events', id=event_id)}}" class="rvt-button rvt-button--danger-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}