{% extends 'base.html' %}

{% block content %}
    <div class="rvt-ts-lg rvt-text-center">
        Now showing event ID: {{event["id"]}}
    </div>
    <div class="rvt-container rvt-container--center">
        <div class="rvt-grid rvt-text-bold">
            <div class="rvt-grid__item-2-sm-up">
                Time
            </div>
            <div class="rvt-grid__item">
                Event
            </div>
            <div class="rvt-grid__item">
                Host
            </div>
        </div>
        <div class="rvt-grid">
            <div class="rvt-grid__item-2-sm-up rvt-text-nobr">
                {{event["time"]}}
            </div>
            <div class="rvt-grid__item">
                {{event["name"]}}
            </div>
            <div class="rvt-grid__item">
                {{event["host"]}}
            </div>
        </div>
    </div>
{% endblock %}