{% extends 'base.html' %}

{% block content %}
<h2>Events</h2>

<ul class="container">
    <li class="row pb-sm-3 pb-md-0">
        <div class="col-md-2"><strong>Date</strong></div>
        <div class="col"><strong>Event</strong></div>
    </li>
{% for event in events: %}
    <li class="row pb-sm-3 pb-md-0 my-2 py-1 bg-light">
        <div class="col-md-2 text-nowrap">{{ event['date'] }}</div>
        <div class="col"><a href="{{ url_for('view_event', event_id=event['id']) }}">{{ event['name'] }}</a></div>
    </li>
{% endfor %}
</ul>

<div class="my-2 text-center"><a class="btn btn-primary" href="{{ url_for('edit_event') }}">Create an event!</a></div>

{% endblock %}