{% extends 'base.html' %}

{% block content %}
    <div class="rvt-ts-lg rvt-text-center">
        Now showing event ID: {{event['id']}}
    </div>
    <div class="rvt-container rvt-container--center">
        <div class="rvt-grid rvt-text-bold">
            <div class="rvt-grid__item-2-sm-up">
                Time
            </div>
            <div class="rvt-grid__item">
                Event
            </div>
            <div class="rvt-grid__item">
                Host
            </div>
            <div class="rvt-grid__item">

            </div>
        </div>
        <div class="rvt-grid">
            <div class="rvt-grid__item-2-sm-up rvt-text-nobr">
                {{event["time"]}}
            </div>
            <div class="rvt-grid__item">
                {{event["name"]}}
            </div>
            <div class="rvt-grid__item">
                {{event["host"]}}
            </div>
            <div class='rvt-grid__item'>
                <div class="rvt-button-group rvt-button-group--right">
                    <form>
                        <button formaction="{{url_for('set_event', id=event['id'])}}" type="submit" class="rvt-button">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="rvt-container">
        <div class="rvt-grid">
            <div class="rvt-grid__item rvt-ts-20 rvt-text-bold rvt-p-top-md">
                Attendees
            </div>
        </div>
        <div class="rvt-grid rvt-text-bold">
            <div class="rvt-grid__item-2-sm-up">
                Name
            </div>
            <div class="rvt-grid__item-2-sm-up">
                Email
            </div>
            <div class="rvt-grid__item">
                Comment
            </div>
        </div>
    {% for attendee in attendees: %}
        <div class="rvt-grid">
            <div class="rvt-grid__item-2-sm-up">
                {{ attendee['name'] }}
            </div>
            <div class="rvt-grid__item-2-sm-up">
                {{ attendee['email'] }}
            </div>
            <div class="rvt-grid__item">
                {{ attendee['comment'] }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}