{% extends 'base.html' %}

{% block content %}
    <div class="rvt-ts-lg rvt-text-center">
        Current Events
    </div>
    <div class="rvt-text-center">
        Create a <a href="{{url_for('set_event')}}">new event</a>!
    </div>
    <div class="rvt-container rvt-container--center">
        <div class="rvt-grid rvt-text-bold">
            <div class="rvt-grid__item-2-sm-up">
                Time
            </div>
            <div class="rvt-grid__item">
                Event
            </div>
        </div>

    {% for event in events.values(): %}
        <div class="rvt-grid">
            <div class="rvt-grid__item-2-sm-up rvt-text-nobr">
                {{event["time"]}}
            </div>
            <div class="rvt-grid__item">
                <a href="{{url_for('events', id=event['id'])}}">{{event["name"]}}</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}