{% extends 'base.html' %}

{% block content %}
<div class="container-sm px-4 py-5 my-5 text-center bg-white text-dark bg-opacity-50">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/calendar.png') }}">
    <h1 class="display-5 fw-bold">B.There</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">B.There is a simple but friendly event registration app!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('list_events') }}">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">See events</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}